.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.contact h2 {
  margin-bottom: 20px;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #45a049;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.detail h1 {
  margin-bottom: 20px;
}

.detail p {
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding: 1rem;
}

.dark {
  background-color: #12121296;
  color: #ffffff;

}

.light {
  background-color: #918585;
  color: #000;
}

nav h4 {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  color: #4caf50;
} 

.btnLight {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #ddd;
}

.btnDark {
  background-color: #12121296;
  color: #fff;
  border: 1px solid #444;
}
.btnLight, .btnDark {
  border-radius: 50%;
  padding: 20px 20px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.76);
  color: #ffffff;
  height: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 50px;
  position: relative;
  bottom: 0;
  width: 100%;
}